html {
  height: 100%;
}

body {
  background-color:rgb(233, 166, 99);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

button {
  background-color: blue;
  color: white;
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
}